/* Begin fix for crappy IE 6 float clearing bug */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* End of fix */


#header,
#nav,
#content,
#footer {
  width: 1000px;
}





body {
  background: #222222;
  color: #E0E0E0;
  font-family: helvetica;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: #D0D0D0;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px 0;
}

h2 {
  margin: 10px 0;
}

h3 {
  margin: 10px 0;
}

h4 {
  margin: 10px 0;
}

a {
  color: #B0C060;
  text-decoration: none;
}

a:hover {
  color: #B0C060;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;  
}

table {
  margin: 0;
  padding: 0;
}



/************/
/*  Header  */
/************/

#header_container {
  background: #404040;
  position: relative;
}

#header {
  position: relative;
  margin: 0 auto;
  height: 48px;
  overflow: auto;
}

#header #logo {
  padding-left: 12px
}



/**********/
/*  Menu  */
/**********/

#nav_container {
  position: relative;
  background: #A0C060;
  border: solid #808080;
  border-width: 1px 0;
}

#nav {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  margin: 0 auto;
  padding: 0 0 0 4px;
  height: 32px;
}

#nav li {
  float: left;
  line-height: 32px;
}

#nav a {
  display: block;
  color: #222222;
  padding: 0 16px;
  height: 32px;
  line-height: 32px;
}

#nav a:hover {

}



/***********/
/*  Panel  */
/***********/

#panel {
  position: absolute;
  top: 50%;
  right: 20px;
}

#panel.user-details {
  height: 30px;
  margin-top: -15px;
}

#panel.login {
  height: 18px;
  margin-top: -9px;
}

#panel.user-details p {
  display: inline;
}

#panel.user-details .avatar {
  vertical-align: middle;
  background: #404040;
  border: 1px solid #808080;
  width: 26px;
  height: 26px;
  margin-right: 6px;
  padding: 0;
}

#panel.user-details .avatar,
#panel.user-details #controls {
  float: left;
}



/***********/
/*  Login  */
/***********/

#panel.login {
  
}

#panel.login input {
  background: #222222;
  border: 1px solid #B0C060;
  color: #B0C060;
  margin-right: 8px;
}

#panel.login input.button {
  background: #5E5E5E;
  color: #D0D0D0;
}



/*****************/
/*  Registraion  */
/*****************/

#registraion {
  
}

#registraion input {
  background: #222222;
  border: 1px solid #B0C060;
  color: #B0C060;
  margin-right: 8px;
}

#registraion input.button {
  background: #404040;
  color: #D0D0D0;
}



/*************/
/*  Content  */
/*************/

#body {
  position: relative;
}

#content {
  clear: none;
  margin: 12px auto;
}



/**************/
/*  Show box  */
/**************/

.show {
  float: left;
  background: #404040;
  border: 3px solid #808080;
  border-radius: 8px;
  width: 280px;
  height: 88px;
  margin: 8px;
  padding: 0 8px;
}

.show .poster {
  float: left;
  width: 150px;
}

.show .details {
  float: left;
}

.show.favorite {
  border-color: #B0C060;
}

#dashboard .show {
  height: 134px;
}



/******************/
/*  Progress bar  */
/******************/

.progress {
  position: relative;
  background: #222222;
  border: 1px solid #505050;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
  height: 18px;
  width: 102px;
}

.progress .complete {
  display: block;
  border-radius: 6px;
  background: url('/images/percent-fill.jpg') repeat-x;
  height: 16px;
  margin: 1px;
}

.progress .copy {
  display: block;
  height: 100%;
  line-height: 15px;
  width: 100%;
  text-align: center;
  margin-top: -17px;
  text-shadow: 0 0 8px #111;
}


/******************/
/*  Episode List  */
/******************/

#episodes {
  border-collapse: collapse;
  width: 100%;
}

#episodes .season {
  border-bottom: 1px solid #3A3A3A;
  height: 60px;
  vertical-align: bottom;
}

#episodes .episode {
  border: solid #3A3A3A;
  border-width: 0 1px 1px 0;
  cursor: pointer;
}

#episodes .episode.active {
  background: #404040;
}

#episodes .episode .checkbox {
  background: #404040;
  text-align: center;
  width: 32px;
  height: 32px;
}

#episodes .episode .episode_number {
  text-align: center;
  width: 32px;
}



/*************/
/*  Sidebar  */
/*************/

.sidebar {
  float: right;
  clear: right;
  background: #404040;
  border: 1px solid #808080;
  width: 220px;
  margin: 12px;
}

.sidebar h3 {
  background: #A0C060;
  color: #404040;
  font-size: 14px;
  padding: 6px 10px 4px 10px;
}

p.note {
  background: #A0C060;
  color: #404040;
  margin: 0;
}

p.note a {
  display: block;
  color: #404040;
  padding: 4px 10px;
}

.storeitem {
  border-bottom: 1px solid #808080;
  text-align: center;
  margin: 10px;
}

.storeitem.last {
  border: 0;
}

.storeitem a {
  border: 0;
  padding: 10px;
}

.storeitem a img {
  border: 0;
}



/************/
/*  Footer  */
/************/

#footer_container {
  position: relative;
  clear: both;
  background: #404040;
  border: 1px solid #808080;
  border-width: 1px 0;
}

#footer {
  height: 32px;
  line-height: 32px;
  margin: auto;
  padding: 3px 10px;
}

#footer p {
  margin: 0;
  padding: 0;
}



/********************/
/*  Flash Messages  */
/********************/

p#flash {
  position: relative;
  color: #222222;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 35px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}

p#flash.notice {
  background: #708050 url('/images/flash_notice.png') 10px 8px no-repeat;
}

p#flash.error {
  background: #D07050 url('/images/flash_error.png') 10px 8px no-repeat;
}
