body {
  background: #222222;
  color: #E0E0E0;
  font-family: helvetica;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

a {
  color: #B0C060;
  text-decoration: none;
}

a:hover {
  color: #B0C060;
  text-decoration: underline;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

h2 {
  margin: 8px 0;
}

h1 a {
  color: #E0E0E0;
  text-decoration: none;
}

h1 a:hover {
  color: #E0E0E0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;  
}

table {
  border-collapse: collapse;
}

hr {
  background: #707070;
  border: 0;
  height: 1px;
}


/* Navigation Bar */

nav {
  height: 44px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.10, rgb(58, 58, 58)),
    color-stop(0.70, rgb(90, 90, 90))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(58, 58, 58) 10%,
    rgb(90, 90, 90) 70%
  );
}

nav #title {
  color: #E0E0E0;
  text-align: center;
  line-height: 44px;
}

nav #left_button,
nav #right_button {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.00, rgb(42, 42, 42)),
    color-stop(1, rgb(65, 65, 65))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(42, 42, 42) 10%,
    rgb(58, 58, 58) 50%
  );
  color: #E0E0E0;
  border: 1px solid #222222;
  border-radius: 5px;
  height: 24px;
  line-height: 24px;
  margin: 6px;
  padding: 3px 10px;
  font-weight: bold;
}

nav #left_button {
  position: absolute;
  top: 0;
  left: 0;
}

nav #right_button {
  position: absolute;
  top: 0;
  right: 0;
}

nav #left_button a,
nav #right_button a {
  color: #E0E0E0;
}

.favorite_button {
  display: block;
  background: url(/images/favorite.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.search_button {
  display: block;
  background: url(/images/search.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

#search_box {
  background: #333333;
  width: auto;
  padding: 3px 6px;
}

#search_box input {
  width: 100%;
}

#search_terms {
  padding: 0 8px;
}

.note {
  margin: 8px;
}


/* Content */

.section {
  margin: 6px 8px 16px;
}


/* Dashboard */

#dashboard .show {
  background: #303030;
  border: 1px solid #707070;
  border-radius: 8px;
  height: 70px;
  margin-bottom: 6px;
  padding: 0 8px 0 0;
}

#dashboard .show.favorite {
  background: #363C30;
  border-color: #B0C060;
}

#dashboard .show .status {
  float: left;
  background: #404040 url(/images/star_small.png);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

#dashboard .show .status a {
  display: block;
  line-height: 70px;
  text-decoration: none;
}

#dashboard .show .status a:hover,
#dashboard .show .status a:active,
#dashboard .show .status a:focus {
  text-decoration: none;
}

#dashboard .show.favorite .status {
  background: #485040 url(/images/star_large.png);
}

#dashboard .show .details {
  display: block;
  color: #E0E0E0;
  text-decoration: none;
  height: 54px;
  margin: 0 0 0 73px;
  padding: 3px 0 0 10px;
}

#dashboard .show .show-details p {
  margin: 3px 0 0;
  padding: 0;
}

#dashboard .show h3 {
  font-size: 16px;
  margin: 0;
  padding: 0 0 4px;
}



/* Show List */

#shows .show {
  background: #303030;
  border: 1px solid #707070;
  border-radius: 8px;
  height: 70px;
  margin-bottom: 6px;
  padding: 0 8px 0 0;
}

#shows .show.favorite {
  background: #363C30;
  border-color: #B0C060;
}

#shows .show .status {
  float: left;
  background: #404040 url(/images/star_small.png);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

#shows .show .status a {
  display: block;
  line-height: 70px;
  text-decoration: none;
}

#shows .show .status a:hover,
#shows .show .status a:active,
#shows .show .status a:focus {
  text-decoration: none;
}

#shows .show.favorite .status {
  background: #485040 url(/images/star_large.png);
}

#shows .show .details {
  display: block;
  color: #E0E0E0;
  text-decoration: none;
  height: 54px;
  margin: 0 0 0 73px;
  padding: 8px 0 0 10px;
}

#shows .show h3 {
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
}

#shows .show p {
  margin: 0;
  padding: 0;
}



/* Show List */

#episodes .episode {
  background: #303030;
  border: 1px solid #707070;
  border-radius: 8px;
  height: 70px;
  margin-bottom: 6px;
  padding: 0 8px 0 0;
}

#episodes .episode.watched {
  background: #363C30;
  border-color: #B0C060;
}

#episodes .episode .status {
  float: left;
  background: #404040 url(/images/star_small.png);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

#episodes .episode .status a {
  display: block;
  line-height: 70px;
  text-decoration: none;
}

#episodes .episode .status a:hover,
#episodes .episode .status a:active,
#episodes .episode .status a:focus {
  text-decoration: none;
}

#episodes .episode.watched .status {
  background: #485040 url(/images/star_large.png);
}

#episodes .episode .details {
  display: block;
  color: #E0E0E0;
  text-decoration: none;
  height: 54px;
  margin: 0 0 0 73px;
  padding: 8px 0 0 10px;
}

#episodes .episode h3 {
  font-size: 16px;
  margin: 0;
  padding: 7px 0 4px;
}

#episodes .episode p {
  margin: 0;
  padding: 0;
}



/* Progress bar */

.progress {
  display: inline-block;
  position: relative;
  background: #222222;
  border: 1px solid #505050;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
  height: 18px;
  width: 102px;
}

.progress .complete {
  display: block;
  border-radius: 6px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.10, rgb(115, 144, 42)),
    color-stop(0.70, rgb(176, 208, 112))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(115, 144, 42) 10%,
    rgb(176, 208, 112) 70%
  );
  height: 16px;
  margin: 1px;
}

.progress .copy {
  display: block;
  height: 100%;
  line-height: 15px;
  width: 100%;
  text-align: center;
  margin-top: -17px;
  text-shadow: 0 0 8px #111;
}


/* Footer */

#footer {
  background: #303030;
  border-top: 1px solid #404040;
  font-size: 14px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  margin-top: 24px;
}

#footer a {
  display: block;
  line-height: 36px;
  padding-left: 10px;
  padding-right: 10px;
}